/* css-transitions */
.form, .results {
    position: absolute;
    width: 100%;
}

.form-enter {
    opacity: 0;
    transform: translateX(-50%);
}

.form-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: all var(--speed) ease;
}

.form-exit {
}

.form-exit-active {
    transform: translateX(-50%);
    opacity: 0;
    transition: all var(--speed) ease;
}

.results-enter {
    opacity: 0;
    transform: translateX(50%);
}

.results-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.results-exit {
}

.results-exit-active {
    opacity: 0;
    transform: translateX(50%);
    transition: all var(--speed) ease;
}