/* css-transitions */
.inputs, .results {
    position: absolute;
    width: 100%;
    top: 0;
}

.inputs-enter {
    opacity: 0;
    transform: translateX(-20%);
}

.inputs-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: all var(--speed) ease;
}

.inputs-exit {
}

.inputs-exit-active {
    transform: translateX(-20%);
    opacity: 0;
    transition: all var(--speed) ease;
}

.results-enter {
    opacity: 0;
    transform: translateX(20%);
}

.results-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.results-exit {
}

.results-exit-active {
    opacity: 0;
    transform: translateX(20%);
    transition: all var(--speed) ease;
}